@import '/styles/breakpoints';

.try__container{
    background: #F4F4F4;
}

.try{
    max-width: $desktop;
    margin: 0 auto;
    padding: 15px;
    &__icon{
        text-align: center;
        margin: 25px 0;
        img{
            font-size: 2rem;
            width: 1em;
            height: 1em;
        }
    }
    &__title{
        text-align: center;
        line-height: 34px;
        letter-spacing: 0.08px;
        text-align: center;
        font-weight: 400;
        font-family: "OpenSans";
        font-size: 28px;
        color: #545454;
        @include tablet{
            font-size: 45px;
            letter-spacing: 0.13px;
            line-height: 61px;
        }
        @include desktop{
            font-size: 50px;
            letter-spacing: 0.14px;
            line-height: 68px;
        }
    }
    &__subtitle{
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.08px;
        text-align: center;
        font-weight: 300;
        font-family: "OpenSans";
        color: #545454;
        @include tablet{
            font-size: 35px;
            font-weight: 300;
            letter-spacing: 0.12px;
            line-height: 47px;
        }
        @include desktop{
            font-size: 40px;
            font-weight: 300;
            letter-spacing: 0.14px;
            line-height: 55px;
        }
    }
    &__button{
        text-align: center;
        margin: 25px 0;
        button{
            background: #006BB1;
            color: #FFFFFF;
            padding: 14px 35px;
            font-family: "OpenSans";
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.2px;
            align-items: center;
            border: 0;
            border-radius: 9999999px;
        }
    }
}