.nutshell{
    padding: 15px;
    background: #DFF4FD;
    &__title{
        color: #3E4952;
        font-family: "OpenSans";
        font-size: 28px;
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
        font-weight: 400;
    }

    .cards{
        &__inner{
            
        }
    }
}